/* Haiyan Yuan 8891084 */

html {
    font: normal normal 400 20px/1.5 Arial, sans-serif;
}

h1, h2 {
    font-variant: small-caps;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2rem;
}

q {
    font-style: italic;
    font-family: cursive;
    font-size: 1.5rem;
}

footer p {
    font-size: 0.8rem;
}

body {
    width: 80%;
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}

.main-section img {
    width: 80%;
    height: auto;
    padding: 1rem;
    border-radius: 5rem;
}

.main-section-figure {
    width: 80%;
    height: 30%;
}

video {
    width: 60%;
    padding: 1rem;
    border: 2px solid rgb(0, 0, 255);
    border-radius: 5rem;
}

header, footer {
    text-align: center;
    border: 1px solid #000000;
}

.main-section {
    text-align: center;
    padding: 2rem;
}

#bio {
    text-align: left;
}

.main-section-figure {
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}

#quote q {
    padding: 0.5rem;
    border: 2px solid #F00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#relative-path-image {
    border: 2px solid rgb(0, 128, 0);
    border-radius: 5rem;
}

#absolute-path-image {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5rem;
}

video {
    border: 1rem solid #FF0;
}

#relative-path-image + figcaption {
    color: rgb(0, 128, 0);
}

#absolute-path-image + figcaption {
    color: rgb(255, 0, 0);
}

h1, h2 {
    color: darkblue;
}

header, footer {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 253, 68));
}

.main-section {
    background-color: hsla(10, 100%, 95%, 0.8);
}

#absolute-path-image {
    background-color: hsla(12, 60%, 70%, 0.5);
}

#relative-path-image {
    background-color: hsla(75, 100%, 70%, 0.8);
}